/* 공통 레이아웃 스타일 */
h2 {
    font-size: 72px;
    font-weight: 600;
    font-family: 'Inter', sans-serif;
}
h3 {
    font-size: 20px;
    font-weight: 500;
}
p {
    font-weight: 300;
    color: #737373;
}
