/* 메인 페이지 스타일 */
#wrap {
    width: 100%;
    min-width: 1400px;
    overflow-x: hidden;
}
/* header */
#header {
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 500;
}
#header .inner {
    width: 1580px;
    display: flex;
    align-items: center;
    padding: 32px 0;
    justify-content: space-between;
    margin: 0 170px;
}
#header h1 img {
    width: 169px;
    height: 30px;
}
.gnb {
    display: flex;
    gap: 64px;
}
.gnb li a {
    color: #fff;
    font-size: 20px;
    font-weight: 300;
}
#header .icon {
    display: flex;
    gap: 32px;
}
#header .icon img {
    width: 25px;
    height: 25px;
    padding: 10px;
}
/* //header */
/* visual */
#visual {
}
#visual .main-banner {
}
#visual .main-banner .swiper-slide {
}
#visual .maintitle {
    font-family: 'Inter', sans-serif;
    z-index: 400;
}
#visual .maintitle span {
    font-size: 160px;
    font-weight: 200;
    letter-spacing: -5px;
    color: #fff;
    text-align: right;
    position: absolute;
    top: 253px;
    right: 100px;
    opacity: 0;
}
#visual .main-banner .swiper-slide-active span {
    animation: aniSpan 1s 1 forwards;
    opacity: 1;
}
@keyframes aniSpan {
    0% {
        top: 273px;
    }
    100% {
        top: 253px;
    }
}
#visual .maintitle h2 {
    font-size: 270px;
    font-weight: 500;
    color: #fff;
    letter-spacing: -9px;
    position: absolute;
    top: 353px;
    left: 118px;
    opacity: 0;
}
#visual .main-banner .swiper-slide-active h2 {
    animation: aniH2 1s 1 forwards;
    opacity: 1;
}
@keyframes aniH2 {
    0% {
        top: 373px;
    }
    100% {
        top: 353px;
    }
}
#visual .maintitle p {
    font-size: 20px;
    color: #fff;
    position: absolute;
    top: 646px;
    left: 146px;
    opacity: 0;
}
#visual .main-banner .swiper-slide-active p {
    animation: aniP 1s 1 forwards;
    opacity: 1;
}
@keyframes aniP {
    0% {
        top: 666px;
    }
    100% {
        top: 646px;
    }
}
#visual .main-banner .swiper-pagination {
    bottom: 25px;
}
#visual .main-banner .swiper-pagination-bullet-active {
    background: #fff;
    opacity: 0.8;
}
/* //visual */
#main {
}
/* projects */
#projects {
}
#projects .inner {
    width: 100%;
    height: 931px;
    overflow-x: hidden;
    display: flex;
    gap: 64px;
    padding: 192px 0 96px 170px;
    box-sizing: border-box;
}
#projects .title {
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: flex-end;
}
#projects .title .btxt {
}
#projects .title .btxt h2 {
}
#projects .title .btxt p {
    display: block;
    margin-top: 16px;
    width: 440px;
    font-size: 18px;
}
#projects .title .more {
    display: flex;
    flex-direction: column;
}
#projects .title .more span {
    display: block;
    color: #afafaf;
    font-size: 14px;
    font-weight: 300;
}
#projects .title .more img {
    transform: translateY(-17px);
}
#projects .list {
}
#projects .list ul {
    display: flex;
    gap: 70px;
}
#projects .list ul li {
}
#projects .list ul li img {
    margin-bottom: 16px;
}
#projects .list ul li .txt {
}
#projects .list ul li .txt h3 {
}
#projects .list ul li .txt p {
}
/* //projects */
/* business */
#business {
    width: 100%;
    overflow-x: hidden;
    height: 1272px;
    background-image: url(../images/business/business_bg.jpg);
    background-repeat: no-repeat;
    padding: 96px 170px;
    box-sizing: border-box;
}
#business .inner {
    width: 1580px;
    height: 1080px;
    display: flex;
    gap: 382px;
}
#business .inner .list {
}
#business .inner .list ul {
    display: flex;
    width: 790px;
    flex-wrap: wrap;
}
#business .inner .list ul li {
}
#business .inner .list ul li a {
    display: block;
    position: relative;
    width: 395px;
    height: 540px;
    overflow: hidden;
}
#business .inner .list ul li a img {
    position: absolute;
    top: 0;
    left: 0;
}
#business .inner .list ul li a img:nth-child(2) {
    opacity: 0.9;
}
#business .inner .list ul li a .txt {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 395px;
    height: 130px;
    padding: 0 32px;
}
#business .inner .list ul li a .txt h3 {
    font-size: 24px;
    display: block;
    margin-bottom: 8px;
}
#business .inner .list ul li a .txt p {
}
#business .inner .title {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 408px;
    height: 1080px;
    justify-content: center;
    gap: 32px;
    padding-bottom: 64px;
    box-sizing: border-box;
}
#business .inner .list ul li:hover .txt {
    transition: 1s;
    opacity: 0;
}
#business .inner .list ul li:hover img:nth-child(1) {
    transition: 1s;
    transform: scale(1.05);
}
#business .inner .list ul li:hover img:nth-child(2) {
    transition: 1s;
    opacity: 0;
}
#business .inner .title .btxt {
    text-align: right;
}
#business .inner .title .btxt h2 {
}
#business .inner .title .btxt p {
    font-size: 18px;
    display: block;
    margin-top: 16px;
}
#business .inner .title .more {
    display: flex;
    flex-direction: column;
}
#business .inner .title .more a {
}
#business .inner .title .more a span {
    display: block;
    color: #afafaf;
    font-size: 14px;
    font-weight: 300;
}
#business .inner .title .more a img {
    transform: translateY(-17px);
}
/* //business */
/* news */
#news {
}
#news .inner {
    width: 100%;
    height: 622px;
    overflow-x: hidden;
    display: flex;
    gap: 120px;
    padding: 96px 0 96px 170px;
    box-sizing: border-box;
}
#news .inner .title {
    display: flex;
    gap: 32px;
    height: 145px;
    align-items: flex-end;
}
#news .inner .title .btxt {
    width: 500px;
    height: 145px;
}
#news .inner .title .btxt h2 {
}
#news .inner .title .btxt p {
    display: block;
    margin-top: 18px;
    font-size: 18px;
}
#news .inner .title .more {
    display: flex;
    flex-direction: column;
}
#news .inner .title .more span {
    display: block;
    color: #afafaf;
    font-size: 14px;
    font-weight: 300;
    transform: translateY(17px);
}
#news .inner .title .more img {
}
#news .inner .list {
}
#news .inner .list ul {
    display: flex;
    gap: 60px;
}
#news .inner .list ul li {
}
#news .inner .list ul li img {
    margin-bottom: 32px;
}
#news .inner .list ul li .txt {
}
#news .inner .list ul li .txt p {
    display: block;
    margin-bottom: 8px;
}
#news .inner .list ul li a .txt h3 {
}
/* //news */
/* culture */
#culture {
}
#culture .inner {
    width: 100%;
    height: 1080px;
    padding-top: 118px;
    padding-bottom: 299px;
    box-sizing: border-box;
    background-image: url(../images/culture/culture_bg.jpg);
    background-repeat: no-repeat;
}
#culture .inner .title {
    display: flex;
    flex-direction: column;
    gap: 32px;
    display: block;
    width: 1750px;
    margin-left: 170px;
}
#culture .inner .title .btxt {
}
#culture .inner .title .btxt h2 {
}
#culture .inner .title .btxt p {
    display: block;
    margin-top: 16px;
    font-size: 18px;
    margin-bottom: 32px;
}
#culture .inner .title .more {
    display: flex;
    flex-direction: column;
}
#culture .inner .title .more span {
    display: block;
    color: #afafaf;
    font-size: 14px;
    font-weight: 300;
}
#culture .inner .title .more img {
    transform: translateY(-17px);
}
#culture .inner .list {
    width: 100%;
    padding-left: 1124px;
    margin-top: 16px;
}
#culture .inner .list ul {
    display: flex;
    flex-direction: column;
    gap: 64px;
}
#culture .inner .list ul li a {
    display: flex;
    gap: 32px;
    align-items: center;
}
#culture .inner .list ul li img {
}
#culture .inner .list ul li .txt {
    display: block;
    width: 450px;
}
#culture .inner .list ul li .txt h3 {
    font-family: 'Inter', sans-serif;
    letter-spacing: -3%;
}
#culture .inner .list ul li .txt p {
    font-size: 18px;
    display: block;
    margin-top: 8px;
}
/* //culture */
/* footer */
#footer {
    display: flex;
    background-color: #2c2c2c;
    width: 100%;
    height: 600px;
    justify-content: center;
    align-items: center;
}
#footer .inner {
    display: flex;
    justify-content: space-between;
    width: 1580px;
    margin: 0 170px;
}
#footer .inner .left {
}
#footer .inner .left img {
    width: 342px;
    height: 61px;
    margin-bottom: 16px;
}
#footer .inner .left p {
    font-family: 'Inter', sans-serif;
    font-size: 18px;
}
#footer .inner .right {
    display: flex;
    flex-direction: column;
    gap: 140px;
    width: 790px;
    height: 286px;
    padding-top: 26px;
    color: #fff;
}
#footer .inner .right p {
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 500;
    color: #fff;
}
#footer .inner .right .txt {
    display: flex;
    justify-content: space-between;
}
#footer .inner .right .txt a {
    color: #fff;
    font-size: 18px;
}
#footer .inner .right .txt01 {
}
#footer .inner .right .txt01 ul {
    display: flex;
    flex-direction: column;
    gap: 16px;
}
#footer .inner .right .txt01 ul .notlink {
    font-size: 18px;
    font-weight: 200;
    display: flex;
    flex-direction: column;
    gap: 16px;
}
#footer .inner .right .txt01 ul a {
    font-weight: 500;
}
#footer .inner .right .txt02 {
}
#footer .inner .right .txt02 ul {
    display: flex;
    flex-direction: column;
    gap: 16px;
}
#footer .inner .right .txt02 ul a {
}
#footer .inner .right .txt03 {
}
#footer .inner .right .txt03 a {
}
/* //footer */
/* top btn */
#top {
    display: flex;
    flex-direction: column;
    width: 49px;
    align-items: center;
    position: fixed;
    left: 1750px;
    bottom: 50px;
    z-index: 700;
}
#top img {
    margin-bottom: 4px;
}
#top span {
    display: block;
    color: #afafaf;
    font-size: 14px;
    font-weight: 300;
}
/* //top btn */
